span{
    color: darkred;
}
.sign_up{
    width:80%;
    padding:5%;
    border: 1px solid lightgray;
}
.log-in{
    width:50%;
    padding:5%;
    border: 1px solid lightgray;
}
@media screen and (max-width: 768px) {
    .log-in{
        width: 80%;
    }
}